<%- include('layouts/header'); -%>
<div style="background-color:#fff ;">
    <div class="container" >    
        <h6 class="text-center fs-3 py-4"><%= title %></h6>
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2">
            <div class="col">
                <h5>GET IN TOUCH</h5>
                <p>Need shopping help?<br>Ask a Specialist</p>
                <p class="lh-sm"><b>(+254)715950466 / 0754500041</b></p>
                <p class="fw-bolder">EMAIL</p>
                <p>(+254)715950466 / 0754500041</p>
            </div>
            <div class="col">
             <h5>Visit Us</h5> 
             <p><b>Opening Hours</b> <br>
             Monday to Saturday : 9am - 7pm</p>
             <p><b>Location</b> <br>
             Kimathi hse, upper floor, shop no 9 (Kistch)</p>

         </div>
     </div>  
     <div class="row">
         <div class="embed-responsive embed-responsive-16by9" style="max-width: 500px;" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.4080832582756!2d36.820721708069534!3d-1.2842138682289252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11ffdb45cf1d%3A0xe7a3f4068877e141!2sKimathi%20House!5e0!3m2!1sen!2ske!4v1633180838231!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
             </div>
     </div> 
 </div>
</div>

<%- include('layouts/footer'); -%>
