<%- include('layouts/header'); -%>

<div class="container mx-auto"  style="margin-top: 5rem;border-radius: 10px;">
 <div class="glide hero">
  <div class="glide__track" data-glide-el="track">
    <div class="glide__slides">
        <div class="glide__slide">
            <div class="row card py-4 mx-md-1" style="padding-top: 8rem;height: 560px;border-radius: 10px;background-color: #f2f2f2;">
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-md-5 py-4 my-4 d-flex justify-content-between">
                        <div class="text-container mx-auto">
                            <div class="section-title">NEW</div>
                            <h1 class="fw-bold">1 iPhone 13 Pro</h1>
                            <h6 class="mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, neque ut ultrices sollicitudin</h6>
                            <a class="btn-solid-lg" href="#services">Shop</a>
                        </div> <!-- end of text-container -->
                    </div>
                    <div class="col-md-7" style="margin-top:5rem;">
                        <div class="image-container" style="height:400px;width: 300px;">
                            <img class="img-fluid" src="images/6443211_sd.jpg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div>
                </div>
            </div> <!-- end row-->

        </div><!--  end glide slide -->
        </div> <!-- end slides -->
</div> <!-- end glide track -->
<div class="glide__bullets" data-glide-el="controls[nav]" style="bottom:0;">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
</div> <!-- end glide bullets -->
</div> <!-- end glide -->    

</div><!--  end container -->

<!--section offer begin-->
<div>
    <div class="col-lg-7 mx-auto text-center mt-4 mb-2">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Best Deals</h5>
            </div>
</div>

<div class="container p-3" style="position: relative"><!-- featured products start -->
   <div class="row row-cols-2 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col">
        <div class="card cardpr h-100 shadow-sm">
            <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top cardpr-img-top" alt="...">
            <div class="card-body">
                <div class="clearfix mb-3">
                    <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> 
                    <span class="float-end price-hp pricehppr">12354.00€</span>
                </div>
                <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                <div class="text-center my-4"> <a href="#" class="btn btnpr btn-warning btn-warningpr">Shop</a> </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card cardpr h-100 shadow-sm">
            <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top cardpr-img-top" alt="...">
            <div class="card-body">
                <div class="clearfix mb-3">
                    <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> <span class="float-end price-hp pricehppr">12354.00€</span>
                </div>
                <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                <div class="text-center my-4"> <a href="#" class="btn btnpr btn-warning btn-warningpr">Shop</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card cardpr h-100 shadow-sm">
            <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top cardpr-img-top" alt="...">
            <div class="card-body">
                <div class="clearfix mb-3">
                    <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> <span class="float-end price-hp pricehppr">12354.00€</span>
                </div>
                <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                <div class="text-center my-4"> <a href="#" class="btn btnpr btn-warning btn-warningpr">Shop</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card cardpr h-100 shadow-sm">
            <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top cardpr-img-top" alt="...">
            <div class="card-body">
                <div class="clearfix mb-3">
                    <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> <span class="float-end price-hp pricehppr">12354.00€</span>
                </div>
                <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                <div class="text-center my-4"> <a href="#" class="btn btnpr btn-warning btn-warningpr">Shop</a> </div>
            </div>
        </div>
    </div>

</div>

</div>
<!-- best deals end -->

<!-- ============================================-->
<!-- <section> begin ============================-->


    <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section>

            <div class="container">
              <div class="row h-100 g-0">
                <div class="col-md-6">
                  <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
                    <h4 class="text-800">Store</h4>
                    <h6 class="fw-semi-bold lh-sm">Take a look at what’s new.</h6>
                    <p class="mb-5 fs-1">The best way to buy the products you love.</p>
                    <div class="d-grid gap-2 d-md-block"><a class="btn btn-lg btn-dark" href="/products" role="button">Explore</a></div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="card card-span h-100 text-white"><img class="card-img h-100" 
                src="/images/gallery/outfit.png" alt="..." />
                <div class="card-img-overlay bg-dark-gradient">
                  <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1" href="#!" role="button">Apple Accesories
                      <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                    </svg></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-100 g-2 py-1">
        <div class="col-md-4">
          <div class="card card-span h-100 text-white">
            <img class="card-img h-100" src="/images/gallery/vanity-bag.png" alt="..." />
            <div class="card-img-overlay bg-dark-gradient">
              <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1" href="#!" role="button">Phone Covers
                  <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                </svg></a></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card card-span h-100 text-white"><img class="card-img h-100" src="/images/gallery/hat.png" alt="..." />
        <div class="card-img-overlay bg-dark-gradient">
          <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1" href="#!" role="button">Phones Under Ksh 500,000
              <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
            </svg></a></div>
        </div>
    </div>
</div>
<div class="col-md-4">
  <div class="card card-span h-100 text-white"><img class="card-img h-100" src="/images/gallery/high-heels.png" alt="..." />
    <div class="card-img-overlay bg-dark-gradient">
      <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1" href="#!" role="button">Buy a Mac For College or Work
          <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
        </svg></a></div>
    </div>
</div>
</div>
</div>
</div><!-- end of .container-->

</section>
<!-- <section> close ============================-->
  <!-- ============================================-->

  



  <!-- Details 1 -->
  <div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="/images/details-1.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <div class="section-title">GET SUPPORT</div>
                    <h2>We are here for you.</h2>
                    <p>Whether it be to trade in your device, getting that first special iPhone or the restoration of a much loved device. We are here to help.</p>
                    <a class="btn-solid-reg" href="#contact">Contact Us</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details 1 -->
<!-- Reason to shop -->
<section>
    <h1 class="text-center"> Even more reasons to shop with us.</h1>
    <div class="container ">
        <div class="row h-100 g-2 py-1">
            <div class="col-md-4">
              <div class="card card-span h-100 text-white"><img class="card-img h-100" src="https://via.placeholder.com/500" C/O https://placeholder.com/" alt="..." />
                <div class="card-img-overlay bg-dark-gradient">
                  <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1" href="#!" role="button">Choose fast, free delivery or sameday courier delivery.
                      <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                    </svg></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card card-span h-100 text-white"><img class="card-img h-100" src="https://via.placeholder.com/500" C/O https://placeholder.com/" alt="..." />
            <div class="card-img-overlay bg-dark-gradient">
              <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1" href="#!" role="button">Trade in your current device. Get credit toward a new one.
                  <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                </svg></a></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card card-span h-100 text-white"><img class="card-img h-100" src="https://via.placeholder.com/500" C/O https://placeholder.com/" alt="..." />
        <div class="card-img-overlay bg-dark-gradient">
          <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1" href="#!" role="button">Shop one on one with a Specialist. Online or in store.
              <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
            </svg></a></div>
        </div>
    </div>
</div>
</div>
</div>
</section>
<!-- end reasons to shop -->

<!-- Customers -->
<div class="slider-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Trending <span class="blue">brands.</span></h4>
                <hr class="section-divider">

                <!-- Image Slider -->
                <div class="slider-container">
                    <div class="swiper-container image-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-fluid" src="/images/customer-logo-1.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="/images/customer-logo-2.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="/images/customer-logo-3.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="/images/customer-logo-4.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="/images/customer-logo-5.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid" src="/images/customer-logo-6.png" alt="alternative">
                            </div>
                        </div> <!-- end of swiper-wrapper -->
                    </div> <!-- end of swiper container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of customers -->

<!-- Footer -->
<div class="footer bg-gray">
    <img class="decoration-circles" src="/images/decoration-circles.png" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Get the latest deals and more.Follow us</h4>

                <div class="social-container">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-pinterest-p fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of social-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->  
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <ul class="list-unstyled li-space-lg p-small">
                    <li><a href="article.html">About Us</a></li>
                    <li><a href="terms.html">Contact Us</a></li>
                    <li><a href="privacy.html">Help and Information</a></li>
                </ul>
            </div> <!-- end of col -->
            <div class="col-lg-3 col-md-12 col-sm-12">
                <p class="p-small statement">Copyright © <a href="#">Vibra Kenya</a></p>
            </div> <!-- end of col -->

        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright --> 
<!-- end of copyright -->


<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
    <img src="/images/up-arrow.png" alt="alternative">
</button>
<!-- end of back to top button -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<!-- fancy box js -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- main Js -->
<script src="/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/js/glide.min.js"></script> <!-- glide for image and text sliders -->
<script src="/js/main.js"></script> <!-- Custom scripts -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>